@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Syne:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
@font-face {
  font-family: 'Cigra';
  src: url(./fonts/Cigra.ttf);
}
@font-face {
  font-family: 'Gyahegi';
  src: url(./fonts/Gyahegi.ttf);
}